<style>
  body{
    text-align: center!important;
  }
  .form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
</style>

<%= form_with(model: country, local: true, html: {class: "form-signin"}) do |form| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
