<%= form_with(model: [ @hotel, report ], local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.datetime_select :date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :excel %>
    <%= form.file_field :excel, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label 'category' %>
    <%= form.select(:category_id) do %>
      <% [['Balance de comprobacion', 1], ['Antiguedad de partidas', 2]].each do |item| %>
        <%= content_tag(:option, item.first, value: item.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group" hidden>
    <%= form.label :user_id %>
    <%= form.number_field :user_id, value: current_user.id %>
  </div>

  <div class="form-group" hidden>
    <%= form.label :uploaded_by %>
    <%= form.text_field :uploaded_by, value: current_user.name %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary"%>
  </div>

<% end %>
